<footer  class="bg-body-tertiary text-center text-lg-start">
   
    <div id="position" class="text-center p-3">
       <span> CSUMB© 2024. De La Cruz, Dominguez, Elizarraraz, Falconer </span>
    </div>
 
</footer>