<nav class="navbar navbar-expand-lg custom-navbar-color border-bottom border-body fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/bosses" style="color: white;">Bosses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/weapons" style="color: white;">Weapons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/armors" style="color: white;">Armors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/builds" style="color: white;">Custom Builds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/collections" style="color: white;">Your Collection</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn btn-outline-color" type="button">
          <a class="nav-link active" aria-current="page" href="/logout" style="color: white;">Logout</a>
        </button>
      </span>
    </div>
  </div>
</nav>
