<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
<body class="homeBody">
  <%- include("partials/nav.ejs") %>
  <br><br>
  

  <h1 id="homeHeader">Welcome Fellow Tarnished</h1>
  


  <br><br>
  <%- include("partials/loginFooter.ejs") %>
  
</body>
</html>